.nav {
    height: 60px;
    width: 100%;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navSpacer {
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navRight {
    justify-content: flex-start;
    color: white;
    padding-left: 1.5rem;
}

.greetings {
    padding-right: 10px;
}

@media(max-width: 650px) {
    .greetings {
        display: none;
    }
}