.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

.inputWithTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    color: rgb(87, 87, 87);
}

.input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    background-color: rgb(235, 235, 235);
}

.logInButton {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}